# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# Environment variables
.env

# ML artifacts
*.pkl
*.joblib
*.h5

# Data
data/
*.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
